
[Unit]
Description=Wso2Woker
Requires=network-online.target
After=network-online.target
[Service]
User=vagrant
Type=simple
#PIDFile=/var/run/wso2service.pid
RemainAfterExit=yes

ExecStart=/opt/wso2/wso2am-analytics-3.2.0/bin/worker.sh start
ExecStop=/opt/wso2/wso2am-analytics-3.2.0/bin/worker.sh stop 
ExecReload=/opt/wso2/wso2am-analytics-3.2.0/bin/worker.sh reload

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-11.0.11.0.9-1.el7_9.x86_64"
#ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target

